ul#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.navelement {
    float: left;
}

li.navelement a {
    display: block;
    color: green;
    font-size: 20px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.navelement a:hover {
    background-color: grey;
    color: white;
}
